<!--<h1>Meteorologist</h1>-->

<h1>Where are you?</h1>
<div class="container">
<form action="/street_to_weather">
  <div>
    <label for="the_address">Street Address</label>
    <input type="text" name="user_street_address" id="the_address">
  </div>

  <button>Tell me the weather!</button>
</form>
</div>
